@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <h1>driwlo - Online English lessons with native speakers</h1>
</div>
</body>
</html>